/* General styles */
.container {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.item-list {
    list-style: none;
    padding: 0;
}

.item {
    margin: 20px 0;
    text-align: center;
    padding: 10px;
}

a {
    color: #252525;
    text-decoration: underline;
}

a:hover {
    color: #353535;
}

/* Code block styles */
pre {
    background-color: #f8f8f8;
    color: #000000;
    border-radius: 5px;
    padding: 15px;
    overflow: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    line-height: 1.4;
}

code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: #000000;
}

/* Style for links within code blocks */
code a {
    color: #007acc;
}

/* Style for hover effect on links within code blocks */
code a:hover {
    color: #005580;
}
