/* General styles */
.container {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.item-list {
    list-style: none;
    padding: 0;
}

.item {
    margin: 20px 0;
    text-align: center;
    padding: 10px;
}

a {
    color: #252525;
    text-decoration: underline;
}

a:hover {
    color: #353535;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
