/* Style for the menu bar */
.menu {
    background-color: white;
    border: none; /* Remove the border */
    overflow: hidden;
}

.menu a.left {
    float: left;
    display: block;
    color: black; /* Change text color to black */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 2px solid transparent; /* Add a transparent underline */
    transition: border-color 0.3s; /* Smooth transition for the underline */
}

/* Style for the Blog and Contact buttons on the right with underline */
.menu a.right {
    float: right;
    display: block;
    color: black; /* Change text color to black */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 2px solid transparent; /* Add a transparent underline */
    transition: border-color 0.3s; /* Smooth transition for the underline */
}

/* Add a hover effect for the underline */
.menu a.left:hover, .menu a.right:hover {
    border-color: black; /* Change the underline color on hover */
}

/* Code block styles */
pre {
    background-color: #f8f8f8;
    color: #000000;
    border-radius: 5px;
    padding: 15px;
    overflow: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    line-height: 1.4;
}

code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: #000000;
}

/* Style for links within code blocks */
code a {
    color: #007acc;
}

/* Style for hover effect on links within code blocks */
code a:hover {
    color: #005580;
}

/* Table styles */
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #dddddd;
    padding: 10px;
    text-align: center; 
}

th, td:first-child {
    background-color: #f2f2f2; 
}

/* Hover effect on table rows */
tr:hover {
    background-color: #f5f5f5;
}
