body {
    font-family: 'Work Sans', Arial, sans-serif;
    background-color: white;
    text-align: center; /* Center content */
    padding: 20px;
    margin: 0;
}

main {
    text-align: left; /* Left-align the main content */
    max-width: 800px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the main content */
    padding: 20px;
    background-color: white;
    border: none; /* Remove the border */
}

h1 {
    font-family: 'Work Sans', Arial, sans-serif; /* Use the 'Work Sans' font for headings */
    text-align: center;
    font-weight: bold;
    margin: 8px 0;
}

h2, h3 {
    font-family: 'Work Sans', Arial, sans-serif; /* Use the 'Work Sans' font for headings */
    text-align: left;
    font-weight: bold;
    margin: 10px 0;
}

p {
    font-family: 'Work Sans', Arial, sans-serif; /* Use 'Work Sans' font for paragraphs */
    text-align: justify;
    line-height: 1.5;
}

a {
    color: #0078d4; /* Change link color */
    text-decoration: underline;
}

a:hover {
    color: #0056b3;
}

table {
    border-collapse: collapse;
}
  
td, th {
    border: 1px solid black;
}

/* Code block styles */
pre {
    background-color: #f8f8f8;
    color: #000000;
    border-radius: 5px;
    padding: 15px;
    overflow: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    line-height: 1.4;
}

code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: #000000;
}

/* Style for links within code blocks */
code a {
    color: #007acc;
}

/* Style for hover effect on links within code blocks */
code a:hover {
    color: #005580;
}
