--- 
--- 
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ 'css/menu.css' | relative_url }}">
    <link rel="stylesheet" href="{{ 'css/blog.css' | relative_url }}">
</head>
<body>
    <div class="menu">
        <a class="left" href="/">Home</a>
        <a class="right" href="mailto:{{ site.email }}">Contact</a>
    </div>
    <main>
        <div class="container">
            <ul class="item-list">
                {% for post in site.posts %}
                    <li class="item">
                        <div class="item-content">
                            <p><a href="{{ post.url }}">{{ post.excerpt }}</a></p>
                            <p>{{ post.short_description }}</p>
                            <p>Posted_at: {{ post.date | date: "%Y-%m-%d" }}</p>
                            {% if post.updated_at %}
                            <p>Updated_at: {{ post.updated_at | date: "%Y-%m-%d" }}</p>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </main>
</body>
</html>
